name: packageBuilding

on:
  push:
    branches: ['release-v*.*.*']
    tags: ['v*.*.*']

jobs:
  build:
    environment: Deployment
    runs-on: ubuntu-latest

    permissions:
      contents: write
      packages: write
      actions: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Extract version from branch name
        id: extract_version
        run: |
          if [[ "$GITHUB_REF" == refs/heads/release-v* ]]; then
            VERSION=$(echo "$GITHUB_REF" | sed -E 's|refs/heads/release-v([0-9]+\.[0-9]+\.[0-9]+)|\1|')
          elif [[ "$GITHUB_REF" == refs/tags/v* ]]; then
            VERSION=$(echo "$GITHUB_REF" | sed -E 's|refs/tags/v([0-9]+\.[0-9]+\.[0-9]+)|\1|')
          else
            VERSION=""
          fi
          echo "##[set-output name=version;]$VERSION"
      - name: Setup Deno
        uses: denoland/setup-deno@v1
        with:
          deno-version: v2.4.4

      - name: Run prisma generate
        run: deno task prisma-generate

      - name: build windows
        run: deno task compile

      - name: build mac-intel
        run: deno task compile-mac-intel

      - name: build mac-arm
        run: deno task compile-mac-arm

      - name: Package Windows binary and script
        run: |
          zip -j build/apilense-windows.zip build/api-lense.exe script/setup-workspace.ps1

      - name: Package mac-intel binary and script
        run: |
          zip -j build/apilense-mac-intel.zip build/api-lense-mac-intel script/setup-workspace.sh
      - name: Package mac-arm binary and script
        run: |
          zip -j build/apilense-mac-arm.zip build/api-lense-mac-arm script/setup-workspace.sh
      - name: Publish to GitHub Releases
        uses: softprops/action-gh-release@v1
        with:
          tag_name: 'v${{ steps.extract_version.outputs.version }}'
          files: |
            ./build/apilense-windows.zip
            ./build/apilense-mac-intel.zip
            ./build/apilense-mac-arm.zip
        env:
          GITHUB_TOKEN: ${{ secrets.REGISTRY_TOKEN }}

      - name: Create revision tag
        if: startsWith(github.ref, 'refs/heads/release-v')
        run: |
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git config --global user.name "github-actions[bot]"
          git tag "v${{ steps.extract_version.outputs.version }}"
          git push origin "v${{ steps.extract_version.outputs.version }}"
